
.name{
    margin-top: 40px;
}
.mobile{
    margin-top: 30px;
}
.email{
    margin-top: 30px;
}
.iname{
    margin-top: 60px;
}
.imobile{
    margin-top: 30px;
}
.iemail{
    margin-top: 30px;
}
.save{
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 20px;
}



